name: CI

on:
  push:
  pull_request:

jobs:
  check-lint-and-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install dependencies (including test + dev extras)
        run: uv sync --all-extras --dev

      - name: Run format
        run: make format

      - name: Run lint
        run: make lint

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install dependencies (including test + dev extras)
        run: uv sync --all-extras --dev

      - name: Run tests
        run: make test
